@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Arial, sans-serif;
  transition: all;
}
body {
  height: 100vh;
  background-image: linear-gradient(270deg, #ebf4f5, #b5c6e0);
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header > i {
  margin-right: 20px;
  font-size: x-large;
  cursor: pointer;
}
.home {
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 40px;
}
.home > h1 {
  margin-top: 10px;
}
.home > p {
  margin-top: 10px;
}
.socials {
  margin-top: 20px;
}
.socials > i {
  font-size: x-large;
  cursor: pointer;
}
.cta {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home > video {
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
}

.skills {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  margin: 20px 10px;
  border-radius: 10px;
}
.skills > h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.projects {
  margin: 20px 10px;
  padding: 10px;
}
.projects > h2 {
  margin-bottom: 30px;
}
.cardProjeto > ul > li {
  margin-top: 1px;
  margin-left: 20px;
}
.cardProjeto > ul {
  margin: 10px 10px;
}
#shopcartimg {
  width: 100%;
  object-fit: contain;
}
.links {
  margin-top: 10px;
}
.links > a {
  text-decoration: none;
  color: black;
}
.links > a:first-child {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
}

/* Sobre */

.about {
  margin-top: 40px;
  margin-bottom: 40px;
}

.bio {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.bio > h2,
.bio > p {
  margin: 5px 0;
  padding: 10px;
  text-align: justify;
  /* background-color: aqua; */
}
.links {
  margin: 15px 10px;
}

/* Formação e Experiência */

.formation-and-xp {
  display: flex;
  flex-direction: column;
}

.formation {
  padding: 10px;
}
.formation > p {
  margin-top: 5px;
}

.experience {
}

/* Cursos */

.courses {
  padding: 10px;
}

/* Curso 1 */

.course-1 {
  background-color: rgba(0, 0, 0, 0.3);
  transition: background-color 250ms ease-in-out;
}
.course-1 > h3 {
  padding: 10px;
  cursor: pointer;
}
.course-1:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.desc-1 {
  background-color: rgba(217, 217, 217, 0.54);
  display: none;
  flex-direction: column;
  padding: 10px;
}
.desc-1 > ul {
  margin-left: 20px;
}

/* Curso 2 */

.course-2 {
  background-color: rgba(0, 0, 0, 0.3);
  transition: background-color 250ms ease-in-out;
}
.course-2 > h3 {
  padding: 10px;
  cursor: pointer;
}
.course-2:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.desc-2 {
  background-color: rgba(217, 217, 217, 0.54);
  display: none;
  flex-direction: column;
  padding: 10px;
}
.desc-2 > ul {
  margin-left: 20px;
}

/* Contato */
.contact {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  text-indent: 18px;
}

/* Rodapé */

footer {
  text-align: center;
}

/* Media Querys */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    padding: 10px 6%;
  }
  .socials > i {
    font-size: xx-large;
  }
  .frameworks > img {
    width: 80px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    padding: 15px 8%;
  }
  .socials > i {
    font-size: 40px;
  }
  .frameworks > img {
    width: 96px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    padding: 20px 10%;
  }
  .socials > i {
    font-size: 50px;
  }
  .frameworks > img {
    width: 112px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    padding: 20px 15%;
  }
  .socials > i {
    font-size: 60px;
  }
  .frameworks > img {
    width: 128px;
  }
}
